<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tripremainder">

    <uses-permission android:name="android.permission.INTERNET" />

<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripRemainder">


        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/Theme.TripRemainder.NoActionBar"
            >
        </activity>
        <activity android:name=".auth.Sign_inActivity"
            android:label="@string/title_activity_sign_in">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddNewTripActivity"></activity>
        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".auth.Sign_upActivity"
            android:label="@string/title_activity_sign_up">

        </activity>

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />






    </application>

</manifest>